
#container {
  border: 3px solid lightgrey; 
  border-radius: 10px; 
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid lightgrey; 
  border-radius: 10px; 
  padding: 10px;
  margin: 10px auto;
}

.container img {
  max-width: 25%;
}

.scroll p {
  display: inline;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1.5%;
}

ol li {
  background-image: none;
  padding: 10px;
}