.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0 !important;
}

/* Tooltip container */
.hover-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.hover-tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  /* text-align: center; */
  padding: 0.5rem 1rem;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -2.5rem;
  left: 125%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.hover-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.hover-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}