.texto-popover {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    margin: 0px;
    padding: 5px 0px;
    border-radius: 10%;
    cursor: pointer;
}

.underline-popover {
    text-decoration: underline #a1522c 2px;
    color: #000;
    font-weight: bold;
    margin: 0px;
    padding: 5px 0px;
    border-radius: 10%;
    cursor: pointer;
}

.underline-popover:hover {
    color: #a1522c;
}

.sujeto:hover {
    background-color:lightblue;
    color:darkblue
}

.reveal:hover {
    background-color: gainsboro;
}

.correcto-color {
    background-color: rgba(34, 129, 34, 0.5);

}

.incorrecto-color {
    background-color: rgba(255, 68, 0, 0.5);
}